# pycache
quicktext/data/__pycache__/
quicktext/featurizers/__pycache__/
quicktext/__pycache__/
quicktext/nets/__pycache__/
tests/__pycache__/
quicktext/text/__pycache__/
quicktext/datasets/__pycache__/
quicktext/config/__pycache__/
quicktext/classifier/__pycache__/
quicktext/engine/__pycache__/
quicktext/utils/__pycache__/
quicktext/nets/cnn2d/__pycache__/
quicktext/nets/lstm/__pycache__/
quicktext/nets/fasttext/__pycache__/
quicktext/nets/seq2seq/__pycache__/
quicktext/nets/rcnn/__pycache__/
quicktext/nets/lightning_module/__pycache__/

# Dataset
quicktext_dataset/
quicktext_data/

# Lightning logs
lightning_logs/
